<!-- This code is a part of an Angular.js project related to customizing 'offerwalls' (pages with advertising offers integrated into third-party software -->

<div class="tab-description">
  <span class="name">Skins</span> are the sets of interface settings that you can use for customization your flows.
</div>

<div ng-include="'skin-edit-template'"></div>


<script type="text/ng-template" id="skin-edit-template">
  <form class="form _skins" name="form" novalidate>

    <div class="form-section" ng-if="skin.type == 'custom' || skin.id">
      <div class="form-head">
        <label for="name">Theme Name</label>
        <span class="required-mark">*</span>
      </div>
      <div class="form-body">
        <input id="name" name="name" type="text" ng-model="skin.name" ng-required="skin.type == 'custom' || skin.id" />
        <span class="error" ng-if="(form.$submitted || form.name.$dirty) && form.name.$invalid">
          <span ng-if="form.name.$error.required">This field is required</span>
          <span ng-if="form.name.$error.uniqueVal">This name is already used</span>
        </span>
      </div>
    </div>

    <div class="form-section">
      <div class="form-head">
        <label for="os">OS</label>
        <span class="required-mark">*</span>
      </div>
      <div class="form-body">
        <select id="os" name="os" ng-model="skin.os" ng-disabled="!availabilityStateCollection.areThereAvailableOSes" required ng-options="osName as osConfig.label for (osName, osConfig) in availableOSes"></select>
        <span class="error" ng-if="(form.$submitted || form.os.$dirty) && form.os.$invalid">
          <span ng-if="form.os.$error.required">This field is required</span>
        </span>
      </div>
    </div>

    <div class="form-section">
      <div class="form-head">
        <label for="type">Theme</label>
        <span class="required-mark">*</span>
      </div>
      <div class="form-body">
        <select id="type" name="type" ng-model="skin.label" ng-disabled="!availabilityStateCollection.areThereAvailableThemes" required ng-options="skinName for skinName in availableThemes"></select>
        <span class="error" ng-if="(form.$submitted || form.type.$dirty) && form.type.$invalid">
          <span ng-if="form.type.$error.required">This field is required</span>
        </span>
      </div>
    </div>

    <div class="form-section" ng-if="availabilityStateCollection.areThereAvailableIntegrations">
      <div class="integration-theme-example" ng-repeat="(integrationType, integrationData) in availableIntegrations">
        <div class="example-header">
          <input id="{{integrationType}}-example" type="radio" name="integration-selector" ng-click="selectIntegrationType(integrationType)" />
          <label for="{{integrationType}}-example">{{integrationData.label}} {{skin.customSass.hasOwnProperty(integrationType) ? '(Custom)' : ''}}</label>
        </div>
        <div class="theme-example">
          <img ng-src="{{integrationData.example}}">
        </div>
      </div>
    </div>

    <div class="form-section" ng-if="!skin.customSass.hasOwnProperty(selectedSkinId) && selectedSkinId">
      <div class="form-head">
        <button class="button-save" ng-click="customizeSkin()" loading-indicator="{{loadingStateCollection.isSkinClonning}}" inline="after" type="button">Customize</button>
      </div>
    </div>

    <div class="form-section-group" ng-if="selectedIntegrationType && skin.customSass.hasOwnProperty(selectedIntegrationType)">
      <div class="form-section">
        <div class="form-head">
          <label for="custom_sass">SASS for {{skinsConfig[selectedIntegrationType]['label']}}</label>
        </div>
        <div class="form-body">
          <textarea id="custom_sass" name="custom_sass" ng-model="skin.customSass[selectedIntegrationType]" ng-disabled="!skin.customSass.hasOwnProperty(selectedIntegrationType)"></textarea>
        </div>
      </div>
      <div class="form-section">
        <div class="form-body">
          <button class="button-cancel" ng-click="cancelCustomizingSkin()">Remove customization</button>
        </div>
      </div>
      <div class="form-section">
        <div class="form-head">
          <label for="copy-from">Clone From</label>
        </div>
        <div class="form-body">
          <select id="copy-from" name="theme" ng-model="clonedFrom" ng-options="skinId as skinName for (skinId, skinName) in availableSkinsForClonning"></select>
          <button class="button-save" type="button" ng-click="cloneSkin(clonedFrom)" loading-indicator="{{loadingStateCollection.isSkinClonning}}" inline="after">Clone</button>
        </div>
      </div>
    </div>

    <div class="form-buttons _body-side">
      <button type="submit" class="button-save" loading-indicator="{{loadingStateCollection.isSkinSaving}}" inline="after" ng-click="saveSkin(form)">Save</button>
      <button class="button-cancel" type="button" ng-click="cancel()">Cancel</button>
    </div>

  </form>
</script>
